BasedOnStyle: LLVM
IndentCaseLabels: true
AlignAfterOpenBracket: true
BreakAfterOpenBracketFunction: true
BreakBeforeCloseBracketFunction: true
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
IndentWidth: 4
